<h1>READ</h1>
<h2>TOTAL: <%=@bucket_count%></h2>
<h3>this is another version of the code</h3>
<h3>just some other info</h3>
<br>
<br>
<br>
(Using Rails 3.2.6 and PostgreSQL)
<br>
<a href="/write">WRITE INSTEAD?<a>
